@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BusinessObjects
@using DataAccess.Repository
@using DataAccess.IRepository
@using System.Collections
@using Microsoft.AspNetCore.Http
@{
    IPostRepository postRepository = new PostRepository();
    IUserRepository userRepository = new UserRepository();
    string username = Context.Session.GetString("user");
    User user = userRepository.GetUserByName(username);
    /*IEnumerable<Post> postList = postRepository.GetAllPost(1);*/
    Layout = "_userLayout";
}
@model IEnumerable<BusinessObjects.Post>

<html>
<head>
    <title>Landing User Page</title>
    <link href="~css/UserSuccess.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container w-75">
    <div class="row">
        <div class="col-12 d-flex w-75 align-items-center mx-auto">
            <div class='col-lg-8'>   
                <form method="post" action="#search-function">
                    <div class="input-group input-group-sm" id="search-input">
                        <input type="text" class="form-control" placeholder="Search...">
                        <button @*onclick="location.href = '@Url.Action("Success",)'"*@ class="input-group-text" id="basic-addon2" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class='col-lg-4 d-flex justify-content-end'>
                <button onclick="location.href = '@Url.Action("Create", "Posts")'" class='btn btn-danger btn-user rounded-pill mx-auto' id="register-btn">
                    New Post
                </button>
                <button onclick="location.href = '@Url.Action("GetPostByUser", "Posts", new {username = @Context.Session.GetString("user")})'"  class='btn btn-success rounded-pill'>
                    Your Post
                </button>
            </div>  
        </div>       
    </div>
    <div class="row pt-4 mb-4 text-center">
        <h4>Recent Posts</h4>
    </div>
    <div class="row">
        @{
            foreach (var post in Model)
                {
                    <div class="col-12 d-flex justify-content-center" style="height: 15rem;">
                        <div class="card w-75 mb-5">
                            <div class="card-header fw-bold">
                                @post.PostTitle -
                                @post.UploaderUsername -
                                @post.UploadDate.Value.ToString("dd/MMM/yyyy")
                            </div>
                            <!-- If user is not allowed to see the post -->
                            <div class="card-body border">
                                @post.PostDescription
                            </div>
                            <div class="card-footer text-center p-1">
                                <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.PostId" class=" stretched-link link-post">
                                    <span>See more</span>
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
        }
    </div>
    <nav aria-label="Page navigation example" class="text-center font-weight-bold mx-auto">
        <ul class="pagination justify-content-center">
            @for (int index = 1; index <= ViewBag.end; index++)
            {
                <li>
                    <a class="page-link" asp-action="Success" asp-route-page="@index">@index</a>
                </li>
            }
        </ul>
    </nav>
</div>
</body>
</html>
