@using Microsoft.AspNetCore.Http;
@using DataAccess.Repository;
@using DataAccess.IRepository;
@using BusinessObjects;
@using System.Collections
@using System.Text.Json
@{
    ICategoryRepository categoryRepository = new CategoryRepository();
    IUserRepository userRepository = new UserRepository();
    var cateStr = Context.Session.GetString("CategoryList");
    IEnumerable<Category> categoryList = JsonSerializer.Deserialize<IEnumerable<Category>>(cateStr);
    string username = Context.Session.GetString("user");
    User user = userRepository.GetUserByName(username);
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Navbar.css">
    <link rel="stylesheet" href="~/css/user_page.css">
    <link rel="icon" href="images/logo_head.png" type="image/icon type">
    <script src="https://kit.fontawesome.com/30877617bb.js" crossorigin="anonymous"></script>
    <title>Creator's name</title>
</head>
<body>
    <header>
        <div id="app">
            <!-- Navigation bar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-0">
                <div class="container-fluid">
                    <a asp-action="Success" asp-controller="User" class="navbar-brand">
                        <img src="~/images/Logo.png"
                             style="width: 90px;" height="30px">
                    </a>
                    <!--button when navbar is collapse-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--collapse when screen is smaller than 1200px-->
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <!--Left nav-->
                        <ul class="navbar-nav me-3 mb-2 mb-lg-0" id="left-nav">
                            <li class="nav-item dropdown me-3">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Category
                                </a>
<<<<<<< HEAD
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @{
                                        foreach (var category in cateList)
                                        {
                                            <li><a asp-action="GetPostByCategory" asp-controller="Posts" asp-route-categoryId="@category.CategoryId" class="dropdown-item tag">@category.CategoryName</a></li>
=======
                                <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
                                        @{
                                            foreach (var category in categoryList)
                                            {
                                                <li><a asp-action="GetPostByCategory" asp-controller="Posts" asp-route-categoryId="@category.CategoryId" class="dropdown-item tag">@category.CategoryName</a></li>
                                            }
>>>>>>> e6e38f2 (before pull)
                                        }
                                    }
                                </ul>
                            </li>
                        </ul>
                        <!--Right nav-->
                        <ul class="navbar-nav ms-auto" id="right-nav">
                            <!-- For user -->
                            <li class="nav-item dropdown" id="user-dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown">
                                    <img class="rounded-pill" src="~/images/@user.AvatarUrl" width=40px
                                         height=40px alt="">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a asp-action="DetailsUser" asp-controller="User" asp-route-username="@username" class="dropdown-item">Manage account</a>
                                    </li>
                                    <li>
                                        <a asp-action="ChangePassword" asp-controller="User" class="dropdown-item">
                                            Change password
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Logout" asp-controller="User" class="dropdown-item">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Main content -->
    <main class="mt-3">
        @RenderBody()
    </main>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

