@model BusinessObjects.Post
@using BusinessObjects

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_userLayout.cshtml";
    IEnumerable<Comment> comments = ViewBag.Comments as IEnumerable<Comment>;
}

<header>
    <h1 class="text-center">@Model.PostTitle</h1>
</header>
<div class="mx-auto w-75">
    <p>Upload Date: @Model.UploadDate</p>
    <div class="border p-2 rounded text-break postDetails">
        <p>@Model.PostDescription</p>
        @{
            if (!string.IsNullOrEmpty(Model.FileUrl))
            {
                <a href="~/postfiles/@Model.FileUrl" class="link-primary">@Model.FileUrl</a>
            }
        }
    </div>
    <div class="CommentSection overflow-auto">
        <form asp-action="AddComment" asp-controller="Comment" method="POST" asp-route-postid="@Model.PostId">
            <input type="text" class="rounded" placeholder="Write your thoughts here" name="content" />
            <input type="submit" class="btn btn-warning" value="Post" />
        </form>
        @{
            foreach (Comment cmt in comments)
            {
                <div>
                    <span class="fw-bold">@cmt.Username</span>
                    <span>@cmt.CommentDate.Value.ToString("dd-MMM-yyyy")</span>
                </div>
                <div>
                    <p class="p-2">@cmt.Content</p>
                </div>
            }
        }
    </div>
</div>