@model IEnumerable<BusinessObjects.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Posts</h1>

@foreach (var item in Model)
{
    <div class="border rounded my-3 w-50 mx-auto">
        <a asp-action="Details" asp-route-id="@item.PostId">
            <div>
                <p class="border-bottom p-3 text-break">@item.PostTitle</p>
                <div class="overflow-auto">
                    <p class="p-3 text-break">@item.PostDescription</p>
                </div>
            </div>
        </a>
    </div>

}
<div class="text-center font-weight-bold">
    @for (int index = 1; index <= ViewBag.end; index++)
    {
        <a asp-action="GetPostByUser" asp-route-username="@ViewBag.user" asp-route-page="@index">@index</a>
    }
</div>
